<!DOCTYPE html>
<html lang="en">

<head>
	<link href='https://fonts.googleapis.com/css?family=Red Rose' rel='stylesheet'>
	<link href="../static/styles/normalize.css" rel="stylesheet" type="text/css">
	<link href="../static/styles/landing.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap" rel="stylesheet">
	<!-- Move css code into static/styles/main.css -->

	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta property="og:title" content="Personal Portfolio" />
	<meta property="og:description" content="My Personal Portfolio" />
	<meta property="og:url" content="{{ url }}" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />

	<title>RoadTrip+</title>
</head>

<body>

	<section class="hero">

		<div class="hero-content">

			<h1 class="hero-title">
				RoadTrip+
			</h1>

			<h2 class="hero-subtitle">
				Plan Your Road Trip With Us!
			</h2>

			<button type="button" class="hero-button">
				login/register &raquo;
			</button>

		</div>

	</section>
</body>

</html>