<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Red Rose' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="../static/js/main.js"></script>
  <title>RoadTrip+</title>
</head>

<body style="background-color: #f7c230;">

  <div class="container">

    <div>
      <ul>
        <li><a class="active" href="#save">save trip</a></li>
        <li><a href="#new">new trip</a></li>
        <li><a href="#remove">remove trip</a></li>
      </ul>
    </div>

    <div class="row">
      <div id="map"></div>
    </div>

    <div class="row">
      <div class="column">
        <h2>Your Destinations:</h2>
        <form id="location">
          <i class="material-icons">location_on</i>
          <label for="adest">Enter Starting Location:</label><br>
          <input type="text" id="adest" name="adest" value=""><br>
        </form>
        <div class="w3-container">
          <button onclick="addDestination('location')" class="plusbtn">+</button>
        </div>
      </div>

      <div class="column">
        <h2>Your Trip Summary:</h2>
        <form>
          <i class="material-icons">schedule</i>
          <label for="totaltravel">Estimated Total Travel Time:</label><br>
          <input type="text" name="output" id="output" /><br>
          <i class="material-icons">time_to_leave</i>
          <label for="totaldistance">Estimated Total Distance:</label><br>
          <input type="text" name="output" id="output" />
        </form>
        <button class="savebtn">save</button>
      </div>
    </div>
  </div>

  <!-- Eventually move it to main.js and call googlemaps.util from there. -->
  <script src="../static/js/google-maps/googlemaps.util.js"></script>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCq9TNLByqQT1iubkxSlxuzsRUSd6o_lM&callback=initMap&libraries=&v=weekly"
    async></script>
</body>

</html>