<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Red Rose"
      rel="stylesheet"
    />
    <link
      href="../static/styles/normalize.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../static/styles/trips.css" rel="stylesheet" type="text/css" />
    <title>RoadTrip+</title>
  </head>

  <body>
    <div class="container">
      <img src="{{ user.picture }}" />
      <h1>Welcome {{ user.name }}, Your Road Trips</h1>
      <main class="grid">
        <article>
          <img src="../static/img/road.jpg" alt="" />
          <div class="text">
            <h3>road trip</h3>
            <button>see trip</button>
          </div>
        </article>
      </main>
    </div>
  </body>
</html>
