<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Red Rose" rel="stylesheet" />
  <link href="../static/styles/normalize.css" rel="stylesheet" type="text/css" />
  <link href="../static/styles/trips.css" rel="stylesheet" type="text/css" />
  <title>RoadTrip+</title>
</head>

<body>
  <div class="container">
    <img id="profile" src="{{ user.picture }}" />
    <h1>Welcome {{ user.name }}, Your Road Trips</h1>
    <div class="create">
      <button id="createbtn">create trip</button>
    </div>
    <main class="grid">
      {% for trip in user.trips %}
      <article>
        <img src="../static/img/road.jpg" alt="" />
        <div class="text">
          <h3>{{ trip.name }}</h3>
          <form action="planner/{{trip.id}}" method="get">
            <button id="trip">see trip</button>
          </form>
        </div>
      </article>
      {% endfor %}
    </main>
  </div>
  <div class="popup">
    <div class="popup-content">
      <img src="https://img.icons8.com/ios/50/000000/cancel.png" alt="Close" class="close" />
      <label>Trip Name:</label><br />
      <input type="triptext" id="name" placeholder="Enter Name" />
      <button id="savebtn" class="savebtn">save</button>
    </div>
  </div>
  <script>
    document
      .getElementById("createbtn")
      .addEventListener("click", function () {
        document.querySelector(".popup").style.display = "flex";
        document
          .getElementById("savebtn")
          .addEventListener("click", function () {
            name = document.getElementById("name").value;
            tripUrl = "api/create_trip/" + name;
            window.location = tripUrl;
          });
      });

    document.querySelector(".close").addEventListener("click", function () {
      document.querySelector(".popup").style.display = "none";
    });
  </script>
</body>

</html>